@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  font-family: "Montserrat", Arial;
  line-height: 1px;
  color: #252B42;
  font-size: 14px;
  font-weight: 500;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  margin: 0px auto;
  max-width: 1046px;
}
._ibg{
  position: relative;
}
._ibg img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container{
  display: flex;
  min-height: 104px;
  padding: 0 15px;
  align-items: center;
  box-sizing: content-box;
  
}
@media (max-width: 479px){
  .header__container{
    min-height: 70px;
  }
}
.header__logo{
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu{
  margin: 0px 0px 0px 132px;
}
@media (max-width: 992px){
  .header__menu{
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px){
  .header__menu{
    margin: 0px 0px 0px 50px;
  }
}
@media (max-width: 479px){
  .header__menu{
    margin: 0px 0px 0px 30px;
  }
}
.menu{
  padding: 5px 0;
}
.menu__list{
  display: flex;
  flex-wrap: wrap;
  
}
.menu__item{

}
.menu__item:not(:last-child){
  margin: 0px 21px 0px 0px;
}
.menu__link{
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}
@media (max-width: 479px){
  .menu__link{
    font-size: 18px;
  }
}

/*  PAGE  */
.page{
  flex: 1 1 auto;
}
.page__main-block {
  width:100%;
}

/*  MAIN-BLOCK  */
.main-block {
  position: relative;
}
.main-block__container {

}
@media (max-width: 1060px){
  .main-block__container {
    padding: 0 15px;
  }
}
.main-block__body{
  padding: 184px 0px 191px 0px;
  
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 509px;
}
@media (max-width: 992px){
  .main-block__body{
  padding: 120px 0px 191px 0px;
  }
  .main-block__image img{
    object-position: left;
  }
}
.main-block__body > *:not(:last-child){
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: calc(80/58*100%);
  letter-spacing: 0.2px;
}
@media (max-width: 479px){
  .main-block__title{
    font-size: 40px;
  }
}
.main-block__text {
max-width: 376px;
font-size: 20px;
font-weight: 600;
color: rgb(0, 0, 0);
line-height: calc(30/20*100%);
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  
}
.main-block__button {
min-height: 48px;
line-height: 2;
font-weight: 700;
letter-spacing: 0.2px;
border-radius: 35px;
display: flex;
justify-content: center;
align-items: center;
padding: 0 36px;
text-align: center;
margin: 10px 0;
}
@media (max-width: 479px){
  .main-block__button{
    flex: 1 0 100%;
    
  }
}
@media (min-width: 479px){
  .main-block__buttons > *:not(:last-child){
    margin-right: 10px;
  }
}
.main-block__button_orange{
  background-color: #FF7B47;
  color: #fff;
}
.main-block__button_border{
  color: #0D5C63;
  border: 2px solid #0D5C63;
}
.main-block__image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 70%;
}

@media (max-width: 1300px) {

}



/*---Підвал---*/
.footer{

}

